* {
  font-family: Arial, Helvetica, sans-serif;
}

/*Default styles*/
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 650px) {
  main,
  header {
    flex-direction: column;
  }

  header {
    align-items: center;
  }

  header h1 {
    padding-bottom: 18px;
  }

  #location-input {
    width: 200px;
  }
}

@media (min-width: 650px) {
  #location-input {
    width: 300px;
  }
}

html,
body {
  color: #fff;
  background-color: #1096e3;
}

html,
body,
main {
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
}

#location-input,
#load-button {
  padding: 12px 16px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 0.96em;
}

#location-input {
  margin-right: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

#load-button {
  background-color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.unit-button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: #fff;
  font-size: 1.1em;
}

#load-button:hover,
.unit-button:hover {
  opacity: 0.8;
}

input:hover,
button:hover {
  cursor: pointer;
}

main {
  display: flex;
}

.current-weather {
  flex-basis: 40%;
  padding: 16px;
}

.current-weather-icon {
  width: max(256px, 40%);
}

.current-temp {
  font-size: 3.6em;
}

.basic-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basic-info img {
  opacity: 0.7;
}

.basic-info p {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.bold {
  font-weight: bold;
}

.gif {
  border-radius: 40px;
}

.ten-day-weather {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.day-item {
  border: 1px solid #fff;
  padding: 8px 20px;
  display: grid;
  grid-template-columns: 66px 1fr min-content;
  align-items: center;
  border-radius: 36px;
  background-color: #fff;
  opacity: 0.7;
  color: #000;
}

.day-item img {
  height: 56px;
}

.temperature {
  font-weight: bold;
}

.min-temp {
  font-weight: normal;
}

.message-dialog {
  background-color: #fff;
  border: none;
  border-radius: 20px;
}

.message-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  text-align: center;
}

.dismiss-dialog-button {
  border: none;
  border-radius: 20px;
  padding: 6px;
}

.loader {
  border: 10px solid #fff;
  border-top: 10px solid #0042ad;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 3s linear infinite;
  display: none;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
